<ion-view title="Select a New Mission" hide-back-button="true" id="page17" ng-init="setupChallenges()">
  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-clear header-item" ng-click="goBack()">
        <i class="icon ion-ios-arrow-back"> Mission Home</i> 
    </button>
  </ion-nav-buttons>

  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <h3 id="acceptAMission-heading2" style="color:#000000;text-align:center;"></h3>
	<ion-item ng-if="$storage.availableChallenges.length <= 0" style="text-align:center;">No New Missions.. Complete your current missions to unlock more missions! </ion-item>
		<ion-item ng-repeat="chal in $storage.availableChallenges|orderBy: 'categoryId'"  ng-click="selectMission(chal)">
			{{$storage.categories[chal.categoryId].categoryName}} - {{chal.challengeName}}
		</ion-item>
  </ion-content>
</ion-view>

