<ion-view title="Badges" id="page4">
  <ion-content padding="true" class="has-header">
    <ion-list id="badges-list5">
      <ion-item class="item-thumbnail-left" id="badges-list-item11">
        <h2>Badge #1</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="badges-list-item12">
        <h2>Badge #2</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="badges-list-item13">
        <h2>Badge #3</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>