<ion-view title="Current Badges" id="page4">
  <ion-content padding="true" class="has-header">
	<ion-item class="item-divider" id="missions-list-item-divider5" ng-repeat="badge in $storage.badges track by $index" ng-if="badge != null"> 
		<h2>{{$storage.categories[$index].categoryName}}</h2>
		<h3>Total Points: {{$storage.child.points[$index]}}</h3> 
		<img ng-src="{{badge}}">
		<h2> Current Level: {{$storage.child.badge}} {{$index}}</h2>
		
		</ion-item> 
	</ion-item> 
  </ion-content>
</ion-view>