<ion-view title="Missions" id="page2" hide-back-button="true" style="background-color:#FAFAFA;" ng-init="setupLogin()">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <ion-list id="missions-list3">
      <ion-item class="item-divider" id="missions-list-item-divider4"> Missions I've Accepted</ion-item>
	  <ion-item ng-repeat="mission in $storage.currentMissions|orderBy: 'missionId'" ng-click="selectMission(mission,1)">
		{{mission.missionName}}
		</ion-item>
      <ion-item class="item-divider" id="missions-list-item-divider6"> Missions I've Completed Recently</ion-item>
      <ion-item ng-repeat="mission in $storage.completedChallenges track by $index" ng-click="selectMission(mission,2)">
		{{mission.missionName}} - <i>Completed: <b>{{mission.completeDate}}</b></i>
	  </ion-item> 

    </ion-list>
    <div class="spacer" style="width: 300px;"></div>
    <div style="margin-right:-20px;">
      <a ui-sref="addMission()" id="missions-button18" style="left:-10px;" class="button button-balanced button-full icon ion-android-add"> Add a Mission</a>
    </div>
  </ion-content>
</ion-view>