<ion-view title="Mission Briefing" hide-back-button="true" id="page9" ng-init="setupMissionView()">
  <ion-nav-buttons side="left">
	<button class="button back-button buttons button-clear header-item" ng-click="goBack()">
		<i class="icon ion-ios-arrow-back"> Back </i> 
	</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
	<h4 id="missionBriefing-heading2" ng-if="$storage.mission.challengeName" " style="color:#000000;" ng-model="mission.Name"> {{$storage.mission.challengeName}} </h4>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;" ng-model="mission.pic"></i>
    </div>
    <div id="missionBriefing-markdown4" class="show-list-numbers-and-dots">
	  <br>
	  <b><i> Mission Type: {{$storage.mission.category}} </i></b>
      <br>
	  <br>
	  <p style="color:#000000;" ng-model="mission.Desc">{{$storage.mission.challengeDesc}}</p>
	  <br>
	  <p style="color:red;"><b> Reward: {{$storage.mission.value}} points 
	  
	  </b>
	  </p>
	  <br>
	</div>
    <button id="missionBriefing-button5" ng-if="$storage.missionType == 0" class="button button-balanced button-block" ng-click="acceptMission()">Accept this Mission!</button>
	<button id="missionBriefing-button5" ng-if="$storage.missionType == 1" class="button button-balanced button-block" ng-click="submitMission()">Complete this Mission!</button>
	<button id="missionBriefing-button5" ng-if="$storage.missionType == 1" class="button button-assertive button-block" ng-click="cancelMission()">Cancel this Mission</button>
	<button id="missionBriefing-button5" ng-if="$storage.missionType == 2" class="button button-dark button-block" ng-disabled=trues>Mission Already Completed</button>
  </ion-content>
</ion-view>