<ion-view title="Missions" id="page2" style="background-color:#FAFAFA;">
  <ion-content padding="true" class="has-header">
    <ion-list id="missions-list3">
      <ion-item class="item-thumbnail-left positive" id="missions-list-item4" ui-sref="tabsController.missionBriefing()">
        <h2positive>Mission #1</h2positive>
      </ion-item>
      <ion-item class="item-thumbnail-left positive" id="missions-list-item9" href-inappbrowser="page13">
        <h2positive>Mission #2</h2positive>
      </ion-item>
      <ion-item class="item-thumbnail-left positive" id="missions-list-item10" href-inappbrowser="page14">
        <h2positive>Mission #3</h2positive>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>